<div class="container mt-4 p-2">
  <form action="/users/{{user.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group py-2">
      <label for="name">Name</label>
      <input type="text" class="form-control-file p-1 pl-2" id="name" name="name" value="{{user.name}}">
    </div>

    <div class="form-group py-2">
      <label for="image">Image</label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>